@tailwind base;
@tailwind components;
@tailwind utilities;

.home_background{
  background: linear-gradient(63deg, #040006 -2.05%, #62005F 112.81%);
  background-repeat: no-repeat;
  background-position: cover;
  width: 100%;
  min-height: 100vh;
  height: auto;
}
.Navoptions{
  @apply text-white text-xl cursor-pointer xl:text-2xl hover:underline;
}
.navBarOptions_responsive{
  @apply text-white text-3xl hover:bg-slate-400 cursor-pointer mb-3  p-3;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

.animate-breathe-1 {
  animation: breathe 3s infinite ease-in-out 0s;
}

.animate-breathe-2 {
  animation: breathe 3s infinite ease-in-out 0.5s;
}

.animate-breathe-3 {
  animation: breathe 3s infinite ease-in-out 1s;
}

.animate-breathe-4 {
  animation: breathe 3s infinite ease-in-out 1.5s;
}

.animate-breathe-5 {
  animation: breathe 3s infinite ease-in-out 2s;
}