@tailwind base;
@tailwind components;
@tailwind utilities;

.home_background{
  background: linear-gradient(63deg, #040006 -2.05%, #62005F 112.81%);
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.Navoptions{
  @apply text-white text-3xl cursor-pointer;
}